<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyh.cloud.give.bag.mapper.BagDetailMapper">
	<resultMap id="BagDetail" type="com.hyh.cloud.give.bag.bean.BagDetail">
		<result property="bagId" column="bag_id" />
		<result property="beginDate" column="begin_date" />
		<result property="creator" column="creator" />
		<result property="createTime" column="create_time" />
		<result property="endDate" column="end_date" />
		<result property="updateTime" column="update_time" />
		<result property="discountId" column="discount_id" />
		<result property="status" column="status" />
	</resultMap>

	<sql id="column">
		bag_id,
		begin_date,
		creator,
		create_time,
		end_date,
		update_time,
		discount_id,
		status
	</sql>

	<sql id="variable">
		#{item.bagId},
		#{item.beginDate},
		#{item.creator},
		#{item.createTime},
		#{item.endDate},
		#{item.updateTime},
		#{item.discountId},
		#{item.status}
	</sql>

	<sql id="common_where">
		<if test="bagId != null"> AND bag_id = #{bagId}</if>
		<if test="creator != null"> AND creator = #{creator}</if>
		<if test="discountId != null"> AND discount_id = #{discountId}</if>
		<if test="status != null"> AND status = #{status}</if>
	</sql>

	<sql id="date_where">
		<if test="gtBeginDate != null"> AND begin_date &gt;= #{gtBeginDate}</if>
		<if test="ltBeginDate != null"> AND begin_date &lt;= #{ltBeginDate}</if>
		<if test="gtCreateTime != null"> AND create_time &gt;= #{gtCreateTime}</if>
		<if test="ltCreateTime != null"> AND create_time &lt;= #{ltCreateTime}</if>
		<if test="gtEndDate != null"> AND end_date &gt;= #{gtEndDate}</if>
		<if test="ltEndDate != null"> AND end_date &lt;= #{ltEndDate}</if>
		<if test="gtUpdateTime != null"> AND update_time &gt;= #{gtUpdateTime}</if>
		<if test="ltUpdateTime != null"> AND update_time &lt;= #{ltUpdateTime}</if>
	</sql>

	<sql id="common_sort">
		<if test="sort != null"> ORDER BY #{sort} </if>
	</sql>

	<insert id="batchAdd" parameterType="com.hyh.cloud.give.bag.bean.BagDetail">
		INSERT INTO cld_bag_detail (
			<include refid="column"/>)
		VALUES <foreach collection="list" item="item" index="index" separator=","> (
			<include refid="variable"/>)</foreach>
	</insert>

	<select id="queryListByParam" parameterType="map" resultMap="AssetsResultMap">
		SELECT <include refid="column"/> FROM cld_bag_detail
		<where> 1 = 1
			<include refid="common_where"/>
			<include refid="date_where"/>
		</where>
		<include refid="common_sort"/>  
	</select>

	<select id="queryCountByParam" parameterType="map" resultType="java.lang.Integer">
		SELECT count(1) FROM cld_bag_detail
		<where> 1 = 1
			<include refid="common_where"/>
			<include refid="date_where"/>
		</where>
	</select>

</mapper>